.flex-container {
    display: flex;
    align-items: stretch;
}

.horizontal-flex-container {
  display: inline-flex;
}

.form {
  padding-bottom: 20px;
}

#labels-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /*align-items: stretch;*/
}

#labels-container div {
  text-align: right;
  height: 100%;
}

#slider-track {
  width: 8px;
  height: 100px;
  background: linear-gradient(to bottom,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
  border-radius: 20px;
}

#mySliderIcon {
  position: absolute;
  transform: translateX(-2px);
  z-index: 9;
  height: 10px;
  width: 12px;
  border-radius: 2px;
  background-color: black;
  cursor: row-resize;
}



